@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('prism-dracula.css');

@layer base {
  :root {
    --background: #fcfcfc;
    --foreground: #cacaca;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #487CA5;
    --primary-foreground: 210 40% 98%;

    --secondary: #162240;

    --title: #4c4f57;

    --border: #2a3038;
    --radius: 0.25rem;

    --ddd: #ddd;

    --color-default-light: #FFFFFF;
    --color-default-dark: #373530;

    --color-gray-light: #F1F1EF;
    --color-gray-dark: #787774;

    --color-brown-light: #F3EEEE;
    --color-brown-dark: #976D57;

    --color-orange-light: #F8ECDF;
    --color-orange-dark: #CC782F;

    --color-yellow-light: #FAF3DD;
    --color-yellow-dark: #C29343;

    --color-green-light: #EEF3ED;
    --color-green-dark: #548164;

    --color-blue-light: #E9F3F7;
    --color-blue-dark: #487CA5;

    --color-purple-light: #F6F3F8;
    --color-purple-dark: #8A67AB;

    --color-pink-light: #F9F2F5;
    --color-pink-dark: #B35488;

    --color-red-light: #FAECEC;
    --color-red-dark: #C4554D;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply m-0 flex h-screen flex-col bg-background text-title;
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      transform: translateZ(0);
    }
  }

  .header-scroll {
    animation: fadeInDown 0.7s ease-in-out 0s 1 normal none running;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    left: 0;
    transition: all 0.3s linear;
    padding-top: 0;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
